*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
}

body{
    font-size: 15px;
    background-color: #eceadd;
    font-family: tahoma;
}
 
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.checkbox{
    position: absolute;
    width: 80px;
    height: 37px;
    background-color: transparent;
}


.checkbox input,
.checkbox-inner:before,
.checkbox-inner span,
.checkbox-inner label{
    position: absolute;
    top: 0;
    left: 0;
}

.checkbox input{
    opacity: 0;
    z-index: 3;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.checkbox-inner{
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    border: 2px solid white;
    border-radius: 18px;
    overflow: hidden;
    transform: rotate(-12deg);
    box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2);
    transition-property: transform;
    transition-timing-function: linear;
    transition-delay: 0;
    transition-duration: 0.32s;

}

.checkbox-inner:before{
    content: "";
    width: 100%;
    height: 100%;
    z-index: 2;
    box-shadow: inset 0 10px 17px 0 rgba(0,0,0,0.28);
}

.checkbox-inner span{
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: #9cc938;
    transform-origin: right;
    transition-property: transform;
    transition-timing-function: cubic-bezier(0.2, 0.585, 2, 0.875);
    transition-delay: 0.32s;
    transition-duration: 1.7s;
}

.checkbox-inner label{
    position: absolute;
    z-index: 2;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-image: radial-gradient(50% 88%, white 3%, #f5f5f5 97%);
    transition-property: left;
    transition-timing-function: cubic-bezier(1,0.885,2,0.0875);
    transition-delay: 0.32s;
    transition-duration: 1.32s;
}


.checkbox-on, .checkbox-off{
    position: absolute;
    top: 0;
    height: 100%;
    transition: opacity 0.32s linear 0s;
}
 
.checkbox-on{
    right: 100%;
    margin-right: 16px;
    opacity: 1;
}

.checkbox-off{
    left: 100%;
    margin-left: 16px;
    opacity: 0.24;
}
 
.checkbox input:checked + .checkbox-inner{
    transform: rotate(12deg);
}

.checkbox input:checked + .checkbox-inner label{
    left: calc(100% - 32px);
}
 
.checkbox input:checked + .checkbox-inner span{
    transform: scaleX(0);
}

.checkbox input:checked ~ .checkbox-on{
    opacity: 0.24;
}

.checkbox input:checked ~ .checkbox-off{
    opacity: 1;
}











